[submodule "go-evil-standard-lib"]
	path = domains
	url = https://github.com/s9rA16Bf4/go-evil-standard-lib
[submodule "go-evil-examples"]
	path = examples
	url = https://github.com/s9rA16Bf4/go-evil-examples
